@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

* {
  font-family: 'DM Sans', sans-serif;
  transition-property: background-color, color;
  transition-duration: 1s;
  transition-timing-function: linear;
}

body {
  background-color: #ffffff;

  &.dark {
    background-color: #12131a;
  }
}
